.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #dfa1a1;
}

.login-card {
  width: 400px;
  padding: 2rem;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo-container .logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  display: block; /* Adicionado para centralizar */
  margin: auto; /* Adicionado para centralizar */
}