.redefinir-senha-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #dfa1a1;
}

.redefinir-senha-card {
  width: 400px;
  padding: 2rem;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
